/* Media-query */
/* max-width 1200*/
@media all and (max-width:1200px) {
  /* banner-area */
  .banner-header{
    padding: 3rem 3rem !important;
  }
  .banner-author-pic{
    display: none;
  }
  /* total-experience */
  .total-experience .single-total-experience {
    flex-direction: column;
    text-align: left;
  }
  .contact-information .information-text {
    padding: 2rem;
  }
}

/* max-width 991*/
@media all and (max-width:991px) {

  /* Mobile menu ----------------------------*/
	.header-button {
		display: none;
	}
	.mobile-headerbtn{
		display: block;
	}
	.mobile-menu {
		display: block;
	}
	.header-nav nav{
		display: none;
	}
  /* Mobile menu end----------------------------*/
  .tablet-device-profile{
    display: block
  }
  
  /* banner-area */
  .side-bar {
    top: 74px;
    left: -290px;
    z-index: 999;
    transition: all .5s ease-in-out;
  }
  .side-bar.active{
    top: 74px;
    left: 0;
  }
  .side-bar .social-link{
    bottom: 4rem;
  }
  .min-content {
    width: calc(100%);
    left: 0px;
  }
  .banner-header{
    padding: 6rem 0 !important;
  }
  .banner-caption {
    text-align: center !important;
  }
  .banner-caption h2 {
    text-align: center !important;
  }
  .banner-caption p{
    text-align: center !important;
  }
  .banner-header .banner-caption .banner-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .banner-header .banner-caption .banner-button .secondaryBtn{
    margin-top: 2rem;
    margin-left: 0;
  }
  /* .total-experience  */
  .total-experience .single-total-experience {
    flex-direction: row;
  }
  .contact-information .information-text {
    padding: 3rem;
  }
 
}

/* max-width 767*/
@media all and (max-width:767px) {
  .min-wrapper{
    padding: 0;
  }
  /* banner-header */
  .banner-header .banner-caption h2 {
    font-size: 2.8rem;
    line-height: 3rem;
  }
  /* .total-experience  */
  .services-area .services-item .single-services-item {
    height: auto;
    margin-bottom: 2rem;
  }
  .all-skill {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px 20px;
    padding-top: 28px;
  }
  .single-skill {
    flex-direction: column;
  }
  .skill-title h4{
    text-align: center;
  }
  .services-mb{
    margin-bottom: 0 !important;
  }

  /* my-work */
  .my-work .section-title{
    text-align: center;
    margin-bottom: 2rem;
  }
  .my-work .gallery-btn{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  /* educational-work */
  .educational-work .full-details {
    position: relative;
    max-width: 98%;
  }
  .educational-work .section-title{
    text-align: center;
  }
  /* contact-information */
  .contact-information{
    margin-bottom: 0;
  }
  .contact-information .information-text {
    margin-bottom: 2rem;
  }
  /* tech-items */
  .tech-items{
    grid-template-columns: repeat(2,1fr) !important;
  }
  /* Toggler bar */
  /* .toggle-bar {
    top: 15px;
  } */
}
/* max-width 480*/
@media all and (max-width:480px) {
  /* banner-header */
  .banner-header {
    padding: 5rem 0 !important;
  }
  .banner-header .banner-caption .writing-test {
    min-height: 8rem;
  }
  .my-work .gallery-btn ul li {
    margin-bottom: 1rem;
  }
  /* footer-text */
  .footer-text{
    padding: 1.5rem 3rem !important;
  }
  .copyright {
    margin-bottom: 1rem;
  }

}