@media all and (max-width:990px){
   .profile-area{
        z-index: 9999;
        left: -26rem;
    }
    .profile-area.active{
        left: 0;
    } 
   .profile-area{
        width: 23rem;	
    }
    .profile-img img{
        max-width: 12rem;
        width: 100%;
        height: 12rem;
        border: 5px solid var(--border-color);
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    
    }
    .profile-img:after{
        height: 1rem;
        width: 1rem;
        background: #008000;
        border-radius: 50%;
        bottom: 20%;
        right: 6rem;
    }
    .menu-bar i{
        display: block;
    }
    .right-content {
        width: 100%;
        right: 0;
        padding: 0 2rem;
    }
}
@media all and (max-width:767px){
    .service{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem;
    }
    .service .single-service:last-child{
        max-width: 45rem;
        grid-column: span 2;
        width: 100%;
        margin: auto;
    }
    .project-title ul li{
        margin-bottom: 2rem;
    }
    .projects{
        grid-template-columns: repeat(2,1fr);
    }
    .projects .single-project:last-child{
        grid-column: span 2;
        max-width: 45rem;
        width: 100%;
        margin: auto;
    }
    .footer{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5rem;
    }
    .footer .footer-content:last-child{
        grid-column: span 2;
        max-width: 40rem;
        width: 100%;
        margin: auto;
        padding-top: 2rem;
    }    
}


@media all and (max-width:575px){
    h1{
        font-size: 4rem;
    }

    .service{
        grid-template-columns: repeat(1, 1fr);
    }
    .service .single-service:last-child{
        grid-column: span 1;
        max-width: 100%;
    }

    .skills{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 3rem;
    }


    .projects{
        grid-template-columns: repeat(1,1fr);
    }
    .projects .single-project:last-child{
        grid-column: span 1;
        max-width: 100%;
    }
}

@media all and (max-width:575px){
    .footer{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer .footer-content:last-child{
        grid-column: span 1;
        max-width: 100%;
    }    
}
